body {
  background: #0d0d0d;
  color: #ff0033;
}

.panel {
  background: #130f0f;
  border: 2px solid #ff0033;
  box-shadow: 0 0 15px #ff0033aa;
}

.function {
  background: #1a0f0f;
  border-left: 4px solid #ff0033;
  box-shadow: 0 0 5px #ff0033;
}

.function-name {
  color: #ffffff;
}

.slider {
  background-color: #330000;
}

.slider:before {
  background-color: #ff0033;
}

input:checked + .slider {
  background-color: #ff003344;
}
